{% extends "layout.html" %}

{% block page_title %}
    Applicants list
{% endblock %}

{% block content %}
    <form action="/applicants/{{ application_code }}" method="POST">
    <input type="hidden" name="application_code" value="{{application_code}}"
    <label for="phone_number">Phone Number</label><br>
    <input type="text" id="phone_number" name="new-phone"><br>
    <input type="submit" value="Submit">
    </form>

    <a href="{{ url_for('delete') }}">Delete applicant</a>

    {% include 'footer.html' %}

{% endblock %}